.app-container {
  display: flex;
  flex-direction: row;
}

.menu {
  font-size: 25px;
  background-color: rgb(168, 92, 244);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  padding: 50px;
  border: 3px solid rgb(62, 7, 118);

}
.header {
  margin-left: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  color: rgb(62, 7, 118);
}
.active-tab, .tab:hover {
  font-weight: bold;
}
.tab {
  font-weight: normal;
}
.active-tab, .tab {
  padding: 10px;
  border: 2px solid rgb(29, 4, 54);
  margin: 10px;
  text-decoration: none;
}
#logo {
  max-height: 100%; /* fit container (menu) */
  width: auto; /*keeps shape depending on height*/
  max-width: 50px;
}