.app-container {
  display: flex;
  flex-direction: row;
}

.menu {
  font-size: 15px;
  background-color: rgb(168, 92, 244);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: fit-content;
  padding: 50px;
}
.app-name {
  margin-left: 200px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}