.app-container, .complete-logo {
  display: flex;
  flex-direction: row;
}

.menu, .main-content {
  display: flex;
  flex-direction: column;
}

.main-content {
  align-items: center;
}

.menu {
  font-size: 25px;
  background-color: rgb(168, 92, 244);
  height: 100vh;
  width: fit-content;
  border: 3px solid rgb(62, 7, 118);
  margin-right: 25px;

}

.header {
  margin-left: 200px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  color: rgb(62, 7, 118);
  font-weight:100;
}
.active-tab, .tab:hover {
  font-weight: bold;
}
.tab {
  font-weight: normal;
}
.active-tab, .tab {
  padding: 10px 40px 10px 40px;
  /*border: 2px solid rgb(29, 4, 54);*/
  margin: 10px;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#logo {
  max-height: 100%; /* fit container (menu) */
  width: auto; /*keeps shape depending on height*/
  max-width: 50px;
  align-self: flex-start;
}
.logo-text {
  margin: 2px 0px 0px 0px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.space {
  margin: 20px;
}
.search-bar {
  min-width: 500px;
  min-height: 50px;
  background-color:rgb(178, 145, 254);
  color:rgb(62, 7, 118);
  border: 2.3px solid rgb(62, 7, 118);
  font-size: 20px;
  margin-left: 150px;
}
.search-button {
  background-color:rgb(127, 39, 215);
  border-radius: 5%;
  min-width: 80px;
  min-height: 50px;
  margin-left: 10px;
  border: 10px 10px 10px 10px;
}
.search-button:hover {
  opacity: 0.8;
  cursor:pointer;
}