.text-box, .title-box, .bottom-bar, .date {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-image: linear-gradient(to right, rgb(69, 28, 232), rgb(114, 10, 218)) 1;
    background-color:rgb(200, 163, 253);
    position: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.text-box {
    font-size: 18.96px;
    margin-top: 35px;
    border-bottom: 3px solid transparent;
    border-top: 1px solid transparent;
    max-height: 400px;
}
.title-box {
    font-size: 24px;
    min-width: 490.483px;
    border-top: 3px solid transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
}
.date {
    font-size: 24px;
    min-width: 89.3px;
    border-top: 3px solid transparent;
    border-bottom: 1px solid transparent;
    padding-bottom: 5px;
    margin-left: 499.9px;
}
.entry-box {
    display: flex;
    flex-direction: row;
    margin-left:300px;
}
.top-bar {
    display: flex;
    flex-direction: column;
}
.bottom-bar {
    border-bottom: 3px solid transparent;
    border-top: 1px solid transparent;
    min-width: 588.5px;
    min-height: 50px;
    margin-top: 440px;
}
.save-button, .discard-changes {
    position: absolute;
    border-radius: 500px;
}
.save-button {
    background-color:var(--dark-1);
    top: 15px;
    left: 480px;
}
.discard-changes {
    top: 15px;
    left: 350px;
    background-color:var(--theme-color);
}
.save-button:hover, .discard-changes:hover {
    opacity: 0.5;
    cursor:pointer;
}
.trash-button {
    color:rgb(140, 3, 3);
    background-color:rgb(254, 178, 178);
}
.delete-note {
    background-color:rgb(254, 178, 178);
    border: 1px solid rgb(140, 3, 3);
    position: absolute;
    top: 7px;
    left: 15px;
}
.entry-box {
  max-width: 500px;
  min-height: 80px;
  background-color:rgb(178, 145, 254);
  color:var(--dark-2);
  border: 2.3px solid var(--dark-2);
  font-size: 20px;
  margin: 10px 10px 10px 300px;
  display: flex;
  flex-direction: column;
}
.c-date {
    text-align: left;
    padding-left: 10px;
    margin-top: 5px;
}
.c-buttons {
    display: flex;
    flex-direction: column;
    max-width: 50px;
    justify-content: right;
}
.c-middle {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
}
.c-title {
    min-width: 80%;
    margin-left: 10%;
}
.edit-entry {
    margin-bottom: 5px;
    background-color: var(--dark1);
    border: 1px solid var(--dark2);
}
.edit-entry:hover, .delete-entry:hover {
    cursor: pointer;
}
.delete-entry {
    background-color: var(--dark1);
    border: 1px solid var(--dark2);
}
.entry-complex {
    display: flex;
    flex-direction: row;
}
.right-button, .left-button {
    min-width: 50px;
    max-height: 80px;
    min-height: 80px;
    background-color: var(--dark-2);
    color: var(--theme-color);
    border: 1px solid var(--dark2);
    border-radius: 10px;
    position: fixed;
    margin-top: 200px;
}
.left-button {
    margin-left: 200px;
}
.right-button {
    margin-left: 950px;
}
.left-button:hover, .right-button:hover {
    cursor: pointer;
    opacity: 0.5;
}